<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#1e52bd; -webkit-text-size-adjust:none;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1e52bd">
        <tr>
            <td align="center" valign="top">
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                    <tr>
                        <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="p30-15" style="padding: 40px 0px 20px 0px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th class="column-top" width="200"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="text-top m-center mpb5"style="color:#9babdb; font-family:'Times New Roman', Georgia, serif; font-size:11px; line-height:22px; text-align:left; text-transform:uppercase;"><multiline>Oslavy a dárky</multiline></td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" class="p30-15 img-center" style="padding: 30px; border-radius: 20px 20px 0px 0px; font-size:0pt; line-height:0pt; text-align:center;"><a th:href="@{${domain}}" target="_blank"><img th:src="@{${domain} + '/static/media/logo_gift.6ce59223.png'}" width="146" height="17" editable="true" border="0" alt="" /></a></td>
                                </tr>
                            </table>

                            <layout label='Section 1'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
                                    <!--/*
                                    <tr>
                                        <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:left;"><img src="images/hero.jpg" width="650" height="358" editable="true" border="0" alt="" /></td>
                                    </tr> */-->
                                    <tr>
                                        <td class="p30-15-0" style="padding: 50px 30px 0px;" bgcolor="#ffffff" th:insert="${bodyTemplate} :: body">

                                        </td>
                                    </tr>
                                </table>
                            </layout>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="p30-15-0" bgcolor="#ffffff" style="border-radius: 0px 0px 20px 20px; padding: 70px 30px 0px 30px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="m-padder2 pb30" align="center"style="padding-bottom:30px;">
                                                    <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                                        <tr>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_facebook.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_twitter.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_gplus.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_youtube.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_instagram.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_pinterest.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="40"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_linkedin.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                            <td class="img" width="26"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="images/ico4_rss.png" width="26" height="26" editable="true" border="0" alt="" /></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="p30-15" style="border-top: 1px solid #ebebeb; padding: 30px;">
                                                    <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                                        <tr>
                                                            <th class="column-top" width="180"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;">
                                                                            <multiline>
                                                                                <strong>Catalog &amp; Brochures</strong><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Request</span></a> <br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">View Online</span></a> <br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Buying Guides</span></a>
                                                                            </multiline>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th class="column-empty" width="20"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></th>
                                                            <th class="column-top" width="180"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;">
                                                                            <multiline>
                                                                                <strong>Need Help</strong><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">FAQ</span></a><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Contact Us</span></a><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Return Policy</span></a><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Children's Product Registration</span></a>
                                                                            </multiline>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th class="column-empty" width="20"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></th>
                                                            <th class="column-top" width="180"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;">
                                                                            <multiline>
                                                                                <strong>Delivery Information</strong><br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Store Delivery</span></a> <br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Online Delivery</span></a> <br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Picking with Delivery</span></a> <br />
                                                                                <a href="#" target="_blank" class="link-grey"style="color:#5d5c5c; text-decoration:none;"><span class="link-grey"style="color:#5d5c5c; text-decoration:none;">Track an Order</span></a>
                                                                            </multiline>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="text-footer2 p30-15" style="padding: 30px 15px 50px 15px; color:#a9b6e0; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:22px; text-align:center;">
                                        &copy; <span th:text="${#dates.year(#dates.createNow())}"></span> oslavyadarky.cz
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
