@import "variables";
@import "mixins";
@import "custom";
@import "typography";
@import "components";

/*------- template styles -------*/

section {
    padding: 50px 0;
}

section.has-scroll-top {
    padding: 90px 0;
}

.boxed-content {
    background: $white;
    padding: 40px 15px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.content-wrapper-raised {
    margin-top: -130px;
    border-radius: 10px;
}

.content-wrapper-raised.big-raise {
    margin-top: -160px;
}

.content-wrapper-lowered {
    margin-bottom: -130px;
    border-radius: 10px;
}

.content-wrapper-lowered.big-lower {
    margin-bottom: -150px;
}

.content-first {
    z-index: 2 !important;
    position: relative;
}

.content-second {
    z-index: 1 !important;
}

.has-sticky-menu {
    padding-top: 87px;
}

.has-raised-content {
    margin-bottom: 120px;
}

.has-raised-content-big {
    margin-bottom: 150px;
}

.parallax-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary;
    background-image: url("../images/bg-img.jpg");
    padding: 150px 0;
}

.parallax-section.small {
    background-image: url("../images/bg-img-small.jpg");
    padding: 70px 0;
}

section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-up-image {
    padding: 50px 0;
}

header {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $light-grey;
}

.header-content {
    padding: 185px 0;
}

.header-content-left {
    text-align: left;
    margin-bottom: 30px;
}

.header-text {
    margin: 30px 0;
}

header.home-header {
    background-image: url("../images/header-home.jpg");
    padding: 30px 0;
}

header.home-header .header-content {
    padding-top: 100px;
    padding-bottom: 80px;
}

header.lp-header .header-content {
    padding-top: 160px;
    padding-bottom: 230px;
}

header.app-header .header-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.slide.one {
    background-image: url(../images/slide1.jpg);
}

.slide.two {
    background-image: url(../images/slide2.jpg);
}

.slide.three {
    background-image: url(../images/slide3.jpg);
}

header.portfolio-header {
    background-image: url("../images/header-portfolio.jpg");
    padding: 30px 0;
}

header.portfolio-header .header-content {
    padding-top: 150px;
    padding-bottom: 80px;
}

header.agency-header {
    background-image: url("../images/header-agency.jpg");
    padding: 30px 0;
}

header.agency-header .header-content {
    padding-top: 100px;
    padding-bottom: 90px;
}

/*--- promo box ---*/

.promo-icon-bg {
    padding: 20px;
    max-width: 90px;
    max-height: 90px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.promo-icon-bg.icon-md {
    padding: 17px;
    max-width: 65px;
    max-height: 65px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.promo-icon-bg.icon-sm {
    padding: 13px;
    max-width: 50px;
    max-height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 0 auto 15px auto;
}

img.promo-box-icon {
    max-width: 50px;
    margin-bottom: 20px;
}

.box-title {
    font-weight: $bold;
    margin-bottom: 15px;
}

.feature.block {
    margin: 30px 0;
}

.feature i {
    font-size: 2.5rem;
}

.feature-block-image {
    max-width: 50px;
}

.feature-left .feature-icon {
    position: absolute;
    float: left;
    left: 15px;
}

.feature-left .feature.block.wimage {
    text-align: left;
    padding-left: 65px;
}

.feature-left .feature.block.wimage.has-promo-icon-bg {
    padding-left: 105px;
}

.feature-left .feature {
    text-align: left;
    padding-left: 51px;
}

.feature-center {
    text-align: center;
}

.feature-center .feature-icon {
    margin-bottom: 10px;
}

.feature-right .feature.block.wimage {
    text-align: right;
    padding-right: 65px;
}

.feature-right .feature.block.wimage.has-promo-icon-bg {
    padding-right: 105px;
}

.feature-right .feature-icon {
    position: absolute;
    float: right;
    right: 15px;
}

.feature-right .feature {
    text-align: right;
    padding-right: 51px;
}

.section-w-image {
    position: relative;
}

.section-description {
    padding: 30px;
}

/*--- end of promo box ---*/



/*--- portfolio ---*/

.project {
    margin: 15px 0;
}

.no-gutter .project {
    margin: 0 !important;
    padding: 0 !important;
}

.project-title {
    font-size: 1.5rem;
}

.project-skill {
    font-size: 12px;
    font-weight: $bold;
    letter-spacing: $letter-spacing-2x;
}


/* lightbox */

.mfp-bg {
    background: $inverse-color !important;
    opacity: 0.9 !important;
}

.body.dark .mfp-figure:after {
    box-shadow: none !important;
    background: $dark-grey !important;
}

.mfp-figure:after {
    box-shadow: none !important;
    background: $secondary !important;
}

.mfp-close {
    color: $white;
    opacity: 0.7;
    font-size: 30px;
    top: -50px;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.mfp-close:hover {
    opacity: 1;
}

.mfp-arrow {
    color: $white;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
    opacity: 0.7 !important;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.mfp-arrow:hover {
    opacity: 1 !important;
}

.mfp-arrow:after {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    top: 5px !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:after {
    content: "\f30b" !important;
    font-size: 40px;
    border-right: none !important;
    margin-left: 25px !important;
}

.mfp-arrow-left:after {
    content: "\f30a" !important;
    font-size: 40px;
    border-right: none !important;
    margin-left: 30px !important;
}

/* end of lightbox */



/* effect show */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: $primary-transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.hovereffect:hover img {
    -ms-transform: scale(1.15);
    -webkit-transform: rotate(1.15);
    transform: scale(1.15);
}

.hovereffect-title h5 {
    color: $white;
    background: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px;
}

.hovereffect-title p {
    color: $white;
    background: transparent;
    text-align: center;
    position: absolute;
    top: 52%;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px;
}

.hovereffect-title i {
    font-size: 16px;
    color: $white;
    background: transparent;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-top: -8px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.7;
}

.tall-project .hovereffect-title i {
    top: 94%;
    left: 90%;
}

.hovereffect-title i:hover {
    opacity: 1
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* end of effect show */



/* info effect */

.info-effect .project  {
    margin: 0 !important;
    padding: 0 !important;
}

ul.portfolio.info-effect {
    margin-bottom: 0 !important;
}

.portfolio.info-effect figure {
    margin: 15px !important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.portfolio.info-effect figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 1;
}

.portfolio.info-effect figure figcaption::before,
.portfolio.info-effect figure figcaption::after {
    pointer-events: none;
}

.portfolio.info-effect figure figcaption,
.portfolio.info-effect figure a.project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio.info-effect figure a.project-link {
    z-index: 0;
}

.portfolio.info-effect figure h2.hover-title {
    word-spacing: -0.15rem; 
}

.portfolio.info-effect figure h2 span {
    font-weight: $light;
}

.portfolio.info-effect figure p.project-skills {
    letter-spacing: 1px;
}

.effect-info {
    background-color: $primary;
}

.effect-info img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-info:hover img {
    opacity: 0.15 !important;
}

.effect-info .hover-content {
    padding-top: 33%;
}

.tall-project .effect-info .hover-content {
    padding-top: 60%;
}

.effect-info .project-icons {
    opacity: 0;
    font-size: 1.5em;
    color: $white;
    text-align: center;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
    z-index: 2;
    position: relative;
}

.effect-info .project-icons a {
    color: $white;
    margin: 5px;
    opacity: 0.7;
}

.effect-info .project-icons a:hover {
    opacity: 1;
}

.effect-info p.project-skill {
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.effect-info:hover figcaption::before,
.effect-info:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-info:hover .project-icons, .project-tall .effect-info:hover .project-icons, .effect-info:hover p.project-skill {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.effect-info .project-info {
    z-index: 3;
    position: relative;
    border-top: 2px solid $light-grey;
}

.effect-info .project-info-skill {
    color: $white;
    font-size: 0.9rem;
    font-weight: $bold;
    padding: 10px 15px;
    background: $primary;
    max-width: 50%;
    margin: 0 auto;
    float: none;
}

.project-box {
    padding: 15px;
}


/* end of info effect */



/* portfolio-filter */

.portfolio-filter {
    margin-top: 30px;
    margin-bottom: 15px;
}

.no-gutter .portfolio-filter {
    margin-bottom: 30px;
}

.portfolio-filter.list-inline li {
    display: inline-block;
    padding: 0;
}

.portfolio-filter a {
    color: $text-color;
    font-family: $title-font !important;
    font-size: 14px;
    font-weight: $bold;
    letter-spacing: $letter-spacing-big;
    line-height: 40px;
    border-radius: 2px;
    margin: 0 5px;
    padding: 8px 10px;
}

.portfolio-filter a:hover {
    color: $primary;
    background-color: transparent;
}

.portfolio-filter a.active {
    color: $primary;
    background-color: transparent;
}

.portfolio-filter a.active:hover {
    color: $primary-hover;
    background-color: transparent;
}

/* end of portfolio-filter */

/* project */

.project-modal .modal-dialog {
    max-width: 1000px;
}

.project-modal .modal-content {
    background-color: white;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project-modal .modal-header .close {
    color: $deep-grey;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 2rem;
    line-height: 1rem;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.project-modal .modal-header .close:hover {
    color: $primary;
}

.project-modal .modal-footer {
    background: $deep-grey;
    border: none;
    padding: 15px 30px;
}

.project-modal .modal-body {
    padding: 15px 15px 45px 15px;
}

.project-info .info {
    margin-bottom: 15px;
}

.project-info .info p, .project-info .info a {
    font-weight: $bold;
    color: $grey;
}

.project-info .info a:hover {
    color: $primary;
}

.project-info .info-title {
    font-family: $title-font;
    color: $mid-grey;
}

.creator-info span {
    display: block;
    margin-left: 50px;
}

.creator-image {
    max-width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

/* end of project */

/*--- end of portfolio ---*/



/*--- clients section ---*/

#clients-carousel img {
    width: 50%;
    margin: 0 auto;
}

#testimonials.has-background-image {
    background-image: url("../images/testimonials-bg.jpg");
}

.testimonial-image {
    max-width: 80px;
    margin: 0 auto 15px auto;
}

/* video testimonials */

.video-testimonial {
    position: relative;
    background: $primary;
}

.video-testimonial-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    backface-visibility: hidden;
}

.video-testimonial .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -49px;
    left: 0;
    right: 0;
    text-align: center;
}

.video-testimonial .hover-icon i  {
    color: $white;
    font-size: 36px;
    line-height: 32px;
    padding: 30px;
    border: 3px solid $white;
    border-radius: 50%;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.video-testimonial .hover-icon i:hover  {
    opacity: 0.5;
}

/* end of video testimonials */



/* about video*/

.video-about {
    position: relative;
    background: $primary;
}

.video-about-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    backface-visibility: hidden;
}

.video-about .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -49px;
    left: 0;
    right: 0;
    text-align: center;
}

.video-about .hover-icon i  {
    color: $white;
    font-size: 36px;
    line-height: 32px;
    padding: 30px;
    border: 3px solid $white;
    border-radius: 50%;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.video-about .hover-icon i:hover  {
    opacity: 0.5;
}

/* end of about video */

/*--- end of clients section ---*/



/*--- facts section ---*/

#facts.has-background {
    padding: 80px 0;
}

.fact-item {
    margin: 15px 0;
}

.fact-icon {
    font-size: 36px;
}

#facts .timer {
    padding: 2px 0;
    font-size: 2rem;
}

.fact-title {
    font-weight: $bold;
    color: $mid-grey;
}

/*--- end of facts section ---*/



/* pricing tables */

.pricing-table {
    background: $secondary;
    text-align: center;
    margin: 15px 0;
}

.pricing-table ul, .pricing-table ol {
    margin-bottom: 0;
    padding-left: 0;
}

.pricing-title {
    font-size: 1.5rem;
    font-weight: $bold;
    padding: 30px;
    margin-bottom: 0;
}

.pricing-table-price {
    background: $secondary-hover;
    font-weight: $bold;
    padding: 30px;
    margin-bottom: 30px;
}

.pricing-table-price.w-rounded-price {
    display: table;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    padding: 0;
}

.rounded-price {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.rounded-price .pricing-price {
    font-size: 1.75rem;
}

.rounded-price .pricing-currency {
    vertical-align: 10px;
}

.pricing-table-price p {
    color: $title-color;
    margin-bottom: 0;
}

.pricing-currency {
    font-size: 1rem;
    font-weight: $bold;
    vertical-align: 25px;
}

.pricing-price {
    font-size: 3rem;
    font-weight: $bold;
}

.pricing-period {
    font-weight: $bold;
}

.pricing-table-content li {
    margin-bottom: 15px;
}

.pricing-table-button {
    padding: 15px 0 35px;
}

.featured.pricing-table {
    background: $primary;
}

.featured.pricing-table .pricing-title {
    color: $white;
}

.featured.pricing-table .pricing-table-content ul li {
    color: $light-grey;
}

.featured.pricing-table .pricing-table-price {
    background: $primary-hover;
}

.featured.pricing-table .pricing-table-price p {
    color: $white;
}

/* end of pricing tables */



/*--- blog section ---*/

.blog.block {
    margin: 15px 0;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.post-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;
}

.post-image img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.post-image:hover img {
    -ms-transform: scale(1.05);
    -webkit-transform: rotate(1.05);
    transform: scale(1.05);
    opacity: 0.75;
}

.post-title a {
    color: $deep-grey;
    font-family: $title-font !important;
}

.post-title a:hover {
    color: $primary;
}

.post-content {
    background: $white;
    padding: 30px;
}

.post-content .comments-info {
    font-family: $title-font !important;
}

.post-meta p {
    font-family: $title-font !important;
}

.small-slider.carousel-full-nav .owl-prev, .small-slider.carousel-full-nav .owl-next {
    font-size: 1.75rem !important;
    top: 46%;
}

/*--- end of blog section ---*/



/*--- contact section ---*/

.contact-bg {
   // background-image: url("../images/contact-bg.jpg");
}

.contact-bg-color {
   // background-image: url("../images/contact-bg-color.jpg");
}

#contact .box-description {
    font-weight: $regular;
}

#contact .box-description a {
    color: $text-color;
}

#contact .box-description a:hover {
    color: $primary;
}

.with-errors ul {
    margin-bottom: 0;
}

.with-errors li {
    color: $danger;
    margin-top: -22px;
    margin-left: 22px;
}

.with-errors.text-area li {
    color: $danger;
    margin-top: -30px;
    margin-left: 22px;
}

.btn-submit {
    width: 100%;
    opacity: 1 !important;
}

.btn-submit:hover {
    background: $primary-hover !important;
    border-color: $primary-hover !important;
}

.btn-submit.btn-info:hover {
    background: $info-hover !important;
    border-color: $info-hover !important;
}

.btn-submit.btn-success:hover {
    background: $success-hover !important;
    border-color: $success-hover !important;
}

.btn-submit.btn-white:hover {
    background: $light-grey !important;
    border-color: $light-grey !important;
}

.btn-submit.btn-black:hover {
    background: $dark-grey !important;
    border-color: $dark-grey !important;
}

#msgSubmit {
    font-size: 1.25rem;
    margin-top: 15px;
}

.has-danger .form-control {
    border-color: $danger !important;
}

/*--- end of contact section ---*/



/*--- widgets ---*/

.recent-posts {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.recent-posts.first {
    margin-top: 0;
}

.recent-post-image img {
    max-width: 90px;
    float: left;
    margin-right: 15px;
}

.recent-post-title {
    font-family: $title-font !important;
    font-weight: $bold !important;
}

/*--- end of widgets ---*/





/*--- instagram feed ---*/

.instagram-item {
    position: relative;
    background: $primary;
}

.instagram-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease-in-out;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  right: 0;
  text-align: center;
}

.instagram-item:hover .instagram-image {
  opacity: 0.1;
}

.instagram-item:hover .middle {
  opacity: 1;
}

.hover-icon {
  color: $white;
  font-size: 24px;
}

/*--- end of instagram feed ---*/



/*--- scroll to top ---*/

.scroll-to-top {
    background: $primary;
    color: $white;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    line-height: 38px;
    position: fixed;
    text-align: center;
    font-size: 18px;
    z-index: 99;

&.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-5px);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s,opacity 0 .2s;
}

&.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s;
}
}

.scroll-to-top:hover, .scroll-to-top:active, .scroll-to-top:focus {
    color: $white;
}

.scroll-to-top:hover {
    background: $primary-hover;
}

/*--- end of scroll to top ---*/



/*--- menu show-hide ---*/

.nav-top {
    background: $white;

&.is-hidden {
    position: absolute;
    opacity: 0 !important;
    -webkit-transform: translate(0,100px);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s,opacity 0 .2s;
}

&.is-visible {
    position: fixed !important;
    top: 0 !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s;
}
}

/*--- end of menu show-hide ---*/

/*------- end of template styles -------*/

