@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet');
@font-face {
    font-family: "mtcorsva";
    src: url("font/mtcorsva/LithosPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "mtcorsva-black";
    src: url("font/mtcorsva/LithosPro-Black.otf") format("opentype");
}
body {
    background-image: url(img/77227277bg-5f2c9f80-6b7f-11ea-8160-3026a7ec609e.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section>div, .checkout_area {
    background-color: white;
}
.top-header-area {
    background-color: white;
    /*color: white;*/
}
.main-font * {
    font-family: 'mtcorsva', cursive !important;
    color: #323232;
}
.font-medium {
    font-size: medium;
}
.menu-font {
    font-size: medium!important;
    font-weight: bolder;
}
.orange-link {
    color: #ff8400;
}
.orange-link:hover {
    color: #ffd09f;
}
