.loading-fullscreen {
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(44, 43, 43, 0.33);
  width: 100%;
  height: 100%;
}

.loading-fullscreen>span{
  position: absolute;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-local {
  text-align: center;
}