<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table.c  {
            border-collapse: collapse;
        }
        table.c , .c th, .c td {
            border: 1px solid black;
        }
        table.c td {
            padding: 5px;
        }
        table.c thead {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff" style="background:#fff;margin-left:auto;margin-right:auto">
    <tbody>
    <tr>
        <td valign="top">


            <table border="0" cellspacing="0" cellpadding="0" bgcolor="#fff" style="width:100%;max-width:800px;border-left:10px solid #fff;border-right:10px solid #fff;margin:0 auto">

                <tbody>
                <tr>
                    <td valign="top">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="white">
                            <tbody><tr>
                                <td height="50" width="50%" valign="top" align="left" style="padding-right:5px">
                                    <img src="http://localhost:3000/static/img/core-img/logo_gift.png"
                                         alt="Oslavy a dárky" style="display: block;width: 200px;" />
                                </td>
                                <td height="50" width="50%" valign="top" align="right" style="color:#18295f;font-size:18px;padding-left:5px">
                                    Objednávka: 256147
                                </td>
                            </tr><tr>
                            </tr></tbody></table>
                    </td>
                </tr>
                </tbody>

            </table>
        </td>
    </tr>
    </tbody>
</table>
<hr style="background-color:#963cf3;border:none;height:5px">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
    <tbody>
    <tr>
        <td style="color:#1d2d64;text-align:left;font-size:16px">
            <div>
                <h1>Nová objednávka</h1>
                <div><div style="padding:0;margin:0">
                    <div align="center" style="text-align:center;font-family:arial;padding:0;margin:0">
                        <table align="center" width="800" cellpadding="0" cellspacing="0" border="0" style="border:solid 1px #ccc">

                            <tbody>

                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    <img src="http://localhost:3000/static/product-img/17/1.jpg"
                                         style="border:solid 1px #ccc;border-radius:5px;max-width:80px;max-height:80px">
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    <h2 style="margin:0;color:#1d2d64">
                                        Párty balónek Mickey Mouse Maxi
                                    </h2>
                                    <p style="margin:0;color:#999;text-transform:uppercase">
                                    </p>
                                </td>
                                <td style="border-bottom:solid 1px #ccc;color:#666;text-align:center">
                                    1 Ks
                                </td>
                                <td style="border-bottom:solid 1px #ccc;color:#f36192;font-weight:bold;font-size:20px;text-align:right;padding-right:20px;white-space:nowrap">195 Kč
                                </td>
                            </tr>


                            <tr style="height: 75px">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    <!--<img-->
                                    <!--alt="Způsob dopravy" title="Způsob dopravy" style="border:solid 1px #ccc;border-radius:5px"-->
                                    <!--class="CToWUd">-->
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    <h2 style="margin:0;color:#1d2d64;font-size:18px;font-weight:normal">
                                        Způsob dopravy<br>
                                        Česká pošta - balík do ruky<br>
                                    </h2>
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left;padding:30px" valign="bottom">
                                </td>
                                <td style="border-bottom:solid 1px #ccc;color:#f36192;font-weight:bold;font-size:20px">130 Kč</td>
                                <td>
                                </td>
                            </tr>
                            <tr style="height: 75px">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    <!--<img-->
                                    <!--alt="Způsob platby" title="Způsob platby" style="border:solid 1px #ccc;border-radius:5px"-->
                                    <!--class="CToWUd">-->
                                </td>
                                <td colspan="2" style="border-bottom:solid 1px #ccc;text-align:left">
                                    <h2 style="margin:0;color:#1d2d64;font-size:18px;font-weight:normal">
                                        Způsob platby<br>
                                        Dobírkou
                                    </h2>
                                </td>
                                <td style="border-bottom:solid 1px #ccc;color:#f36192;font-weight:bold;font-size:20px">Zdarma</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:left;border-bottom:solid 1px #ccc;padding:20px">
                                </td>
                                <td colspan="2" style="text-align:right;border-bottom:solid 1px #ccc;padding:20px"><h3
                                        style="color:#f36192;font-weight:bold;font-size:20px;margin:0px;white-space:nowrap">Celkem: 325.0 Kč</h3></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div></div>
                <div style="padding:0;margin:0">
                    <div align="center" style="text-align:center;font-family:arial;padding:0;margin:0">
                        <table align="center" width="800" cellpadding="0" cellspacing="0" border="0" style="border:solid 1px #ccc">
                            <tbody>
                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    email
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    a@a
                                </td>
                            </tr>
                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    jmeno
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    a
                                </td>
                            </tr>
                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    prijmeni
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    a
                                </td>
                            </tr>
                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    telefon
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    1
                                </td>
                            </tr>
                            <tr style="background-color:#fff">
                                <td style="padding:20px;text-align:left;border-bottom:solid 1px #ccc" width="110">
                                    adresa
                                </td>
                                <td style="border-bottom:solid 1px #ccc;text-align:left">
                                    a 2, a, 2
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a th:href="@{'http://localhost:3000/storage-form#order_id=' + ${orderId}}">Link na odbaveni</a>
            </div>

            &copy; <span>2019</span> <a href="http://localhost:3000">oslavyadarky.cz</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>